<h1>Acessando APIs Externas Usando Serviços do AngularJS</h1>

<p>Além da facilidade de estender o HTML, o AngularJS também oferece uma forma simples de interagir com APIs externas. Nesse tutorial, mostrarei como usar os <i>Services</i> (serviços) para acessar a API do GitHub para criar um simples navegador de repositórios.</p>


<h2>Passo 1: Preparação</h2>

<p>Comecemos com esse modelo HTML básico:</p>

<pre class="brush: html">&lt;!DOCTYPE html&gt;
&lt;html&gt;
    &lt;head&gt;
	    &lt;title&gt;Buscar no GitHub&lt;/title&gt;
    &lt;/head&gt;
    &lt;body&gt;

    &lt;/body&gt;
&lt;/html&gt;
</pre>

<p>Agora, adicione o script do AngularJS no elemento <code>&lt;head&gt;</code> do documento:</p>

<pre class="brush: html">&lt;script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"&gt;&lt;/script&gt;</pre>

<p>Depois disso, você pode adicionar o CSS abaixo, tanto em linha quanto através de um arquivo externo:</p>

<pre class="brush: css">* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: sans-serif;
}

body, html { margin: 0; }
p { margin: 0; }
input { width: 100%; }

pre {
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}

div.repo {
	border-bottom: 1px solid;
	cursor: pointer;
}

#search, #repo, #user { float: left; }
#search { width: 20%; }
#repo { width: 60%; }
#user { width: 20%; }
</pre>

<p>Como pode ver, nada demais, só um layout básico que posiciona o campo de busca à esquerda, a informação do repositório ao meio e os repositórios do usuário à direita. Também teremos de envolver as linhas da tag <code>&lt;pre&gt;</code> que usaremos para mostrar o conteúdo do arquivo <em>README</em>, uma vez que, geralmente, estão no formato de <a href="http://github.github.com/github-flavored-markdown/">Markdown do GitHub</a> e algumas dessas linhas sobreporiam alguns itens da lista de repositórios do usuário.</p>

<p>Claro, você é livre para adicionar qualquer outro estilo que agrade você. Apenas tenha em mente que as pré-visualizações nesse tutorial mostrarão algo básico.</p>

<p>Você pode usar o JavaScript que criaremos daqui a pouco, tanto em linha, no elemento <code>&lt;head&gt;</code> do documento, quanto em um arquivo separado. Lembre-se, porém, que o posicionamento desse código tem de vir <strong>após</strong> a chamada ao script do AngularJS.</p>


<h2>Passo 2: O Módulo</h2>

<p>Agora, podemos criar um módulo para nosso aplicativo:</p>

<pre class="brush: javascript">var app = angular.module('githubsearch', []);
</pre>

<p>É hora de adicioná-lo ao elemento <code>&lt;body&gt;</code>, usando a diretriz <code>ngApp</code>:</p>

<pre class="brush: html">&lt;body ng-app="githubsearch"&gt;</pre>


<h2>Passo 3: O Controlador</h2>

<p>Também precisaremos de um controlador para nosso app. Pela simplicidade do app, teremos apenas um controlador, de forma que não precisaremos lidar com a passagem de informação entre controladores:</p>

<pre class="brush: javascript">app.controller('SearchController', function SearchController($scope) {

});</pre>


<h2>Passo 4: Serviço Básico</h2>

<p>Definamos nosso serviço do <code>GitHub</code>:</p>

<pre class="brush: javascript">app.factory('GitHub', function GitHub($http) {
	return {

	};
});</pre>

<p>Estamos usando o método <code>app.factory()</code>, assim poderemos retornar apenas o objeto com alguns métodos para usar posteriormente. Usaremos o serviço <a href="https://docs.angularjs.org/api/ng/service/$http"><code>$http</code></a> para obter os dados da API do GitHub.</p>


<h2>Passo 5: Pesquisando por Repositórios</h2>

<p>O primeiro método em nosso serviço pesquisará por repositórios usando a API do GitHub. O uso do serviço <code>$http</code> é bem simples (essa função irá no objeto retornado por nossa função fábrica (<code>app.factory()</code>):</p>

<pre class="brush: javascript">searchRepos: function searchRepos(query, callback) {
	$http.get('https://api.github.com/search/repositories', { params: { q: query } })
		.success(function (data) {
			callback(null, data);
		})
		.error(function (e) {
			callback(e);
		});
}
</pre>

<p>O método <code>$http.get()</code> é um atalho para realizar requisições <code class="inline">GET</code>. O primeiro parâmetro é a URL que queremos acessar. O segundo é um objeto com opções. Só precisamos do objeto <code>params</code> aqui - é um <em>hash</em> de parâmetros de consulta que serão adicionadas à requisição (o parâmetro <code>q</code> é o termo da busca, como descrito <a href="https://developer.github.com/v3/search/#parameters">aqui</a>).</p>

<p>O <code>$http.get()</code> retorna uma <a href="https://docs.angularjs.org/api/ng/service/$q">promise</a>. Podemos anexar observadores <code>success()</code> e <code>error()</code> de modo que chamemos a função <em>callback</em> apropriada.</p>


<h2>Passo 6: O Campo de Busca</h2>

<p>Para utilizarmos a função definida no passo anterior, teremos de adicionar um campo de busca em nosso HTML. O código é bem simples:</p>

<pre class="brush: html">&lt;div id="search"&gt;
	&lt;input ng-model="query" placeholder="search" ng-keyup="$event.keyCode == 13 &amp;&amp; executeSearch()"&gt;
	&lt;div class="repo" ng-repeat="repo in repos" ng-click="openRepo(repo.full_name)"&gt;
		&lt;strong&gt;{{ repo.full_name }}&lt;/strong&gt;
		&lt;p&gt;{{ repo.description }}&lt;/p&gt;
	&lt;/div&gt;
&lt;/div&gt;</pre>

<p>Usamos a diretriz <code>ngModel</code> para vincular o valor do campo de busca à variável <code>query</code> no escopo, e a diretriz <a href="https://docs.angularjs.org/api/ng/directive/ngKeyup"><code>ngKeyup</code></a> para chamar a função <code>executeSearch()</code> quando o usuário pressionar a tecla <code>Enter</code> (por isso a verificação <code>$event.keyCode == 13</code>). Podemos usar declarações condicionais nas expressões de AngularJS, mas uma operação lógica simples (<code>AND</code>) servirá.</p>

<p>Abaixo do campo de busca, usamos a diretriz <a href="https://docs.angularjs.org/api/ng/directive/ngRepeat"><code>ngRepeat</code></a> para msortar os resultados da busca. Mostraremos o nome e a descrição do repositório (você pode ver todos os campos disponíveis <a href="https://developer.github.com/v3/search/#repository-search-example">neste exemplo</a> na documentação da API do GitHub, se quiser mostrar algo diferente).</p>

<p>Também usamos <code>ngClick</code> para invocar a função <code>openRepo()</code> com o nome completo do repositório, para que possamos mostrar as informações sobre ele. Definiremos essa função depois.</p>


<h2>Passo 7: Utilizando A Função de Busca</h2>

<p>Podemos, finalmente, usar o serviço que criamos. Primeiro, adicionaremos o parâmetro do <code>GitHub</code> na função do controlador (assim, o serviço pode ser injetado pelo AngularJS):</p>

<pre class="brush: javascript">app.controller('SearchController', function SearchController($scope) {
</pre>

<p>Agora, definiremos a função <code>executeSearch()</code>:</p>

<pre class="brush: javascript">$scope.executeSearch = function executeSearch() {
	GitHub.searchRepos($scope.query, function (error, data) {
		if (!error) {
			$scope.repos = data.items;
		}
	});
}</pre>

<p>Como pode ver, invocamos o método <code>GitHub.searchRepos()</code> com os caracteres para busca, vindos de <code>$scope.query</code> e, na função <em>callback</em>, colocamos os resultados da busca (contidos em <code>data.items</code>) na variável <code>$scope.repos</code>.</p>

<p>Isso é tudo que você precisa para mostrar os resultados da busca. Abra o arquivo HTML no seu navegador e tente pesquisar:</p>
<p><img alt=""><img alt="" src="https://s3.amazonaws.com/cms-assets.tutsplus.com/uploads/users/34/posts/21884/image/search_results.png"></p>


<h2>Passo 8: Obtendo os Dados do Repositório</h2>

<p>Agora que temos a funcionalidade de busca, podemos mostrar alguma informação sobre o repositório que o usuário selecionou. Criemos uma função para obter os dados do repositório em nosso serviço:</p>

<pre class="brush: plain">getRepo: function getRepo(name, callback) {
	$http.get('https://api.github.com/repos/'+ name)
		.success(function (data) {
			callback(null, data);
		})
		.error(function (e) {
			callback(e);
		});
	}
</pre>

<p>O nome passado para essa função deve ser o nome completo (nome do autor, barra, nome do repositório - como em <code class="inline">angular/angular.js</code>) uma vez que temos de passá-lo para a API do GitHub (como mostrado <a href="https://developer.github.com/v3/repos/#get">aqui</a>).</p>


<h2>Passo 9: Obtendo o Arquivo <em>README</em> do Repositório</h2>

<p>O conteúdo do arquivo <em>README</em> não está entre os dados obtidos pela função anterior. Ao invés disso, devemos realizar outra chamada à API para obtê-lo. Assim, teremos de criar outra função:</p>

<pre class="brush: javascript">getReadme: function getReadme(name, callback) {
    $http.get('https://api.github.com/repos/'+ name +'/readme')
		.success(function (data) {
			callback(null, atob(data.content));
		})
		.error(function (e) {
			callback(e);
		});
}</pre>

<p>Ela é bem parecida com a função anterior, só a URL que muda. Também usamos a função <a href="https://developer.mozilla.org/en-US/docs/Web/API/Window.atob"><code>atob()</code></a> para decodificar o conteúdo do arquivo README, uma vez que é codificado em <code>base64</code>. Obter os dados do arquivo <em>README</em> está descrito <a href="https://developer.github.com/v3/repos/contents/#get-the-readme">aqui</a>, na documentação do GitHub.</p>

<p>O motivo de não encadearmos as duas requisições se dá por alguns repositórios não possuirem o arquivo <em>README</em>. Se o fizéssemos, a aplicação acabaria em erro.</p>


<h2>Passo 10: Mostrando a Informação do Resultado</h2>

<p>Mostraremos o nome completo do repositório, o número de pessoas observando-o (<em>watching</em>) e o arquivo <em>README</em> em outro elemento <code>&lt;div&gt;</code>:</p>

<pre class="brush: html">&lt;div id="repo" ng-show="activeRepo"&gt;
    &lt;strong&gt;{{ activeRepo.full_name }}&lt;/strong&gt; &lt;em&gt;Observado por {{ activeRepo.watchers_count }} pessoa(s).&lt;/em&gt;
	&lt;pre&gt;{{ activeRepo.readme }}&lt;/pre&gt;
&lt;/div&gt;</pre>

<p>Salvaremos essa informação na variável <code>activeRepo</code> no escopo do controlador. Também há a diretriz <a href="https://docs.angularjs.org/api/ng/directive/ngShow"><code>ngShow</code></a> que só mostrar o elemento se ele tiver algum dado a ser msotrado (caso contrário, você veria o texto "Observado por pessoa(s)" - sem quantidade - quando não tiver repositório selecionado).</p>


<h2>Passo 11: Atualizando o Controlador</h2>

<p>Também temos de atualizar nosso controlador para que os dados do repositório sejam obtidos e adicionados ao escopo. Crie a função <code>openRepo()</code> que anexamos à diretriz <code>ngClick</code> mais cedo:</p>

<pre class="brush: javascript">$scope.openRepo = function openRepo(name) {
    GitHub.getRepo(name, function (error, data) {
		if (!error) {
			$scope.activeRepo = data;

			GitHub.getReadme(name, function (error, data) {
				if (!error) {
					$scope.activeRepo.readme = data;
				} else {
					$scope.activeRepo.readme = 'Arquivo README não encontrado!';
				}
			});
		}
	});
}</pre>

<p>Como pode ver, primeiro usamos o método <code>GitHub.getRepo()</code>, checamos por erros e, então, colocamos os dados na variável <code>activeRepo</code>. Depois disso, obtemos o arquivo <em>README</em> e, caso não exista, informamos o usuário sobre essa situação.</p>

<p>Agora, você pode executar seu app novamente e ver ele em funcionamento</p>
<figure class="post_image"><img alt="" src="https://s3.amazonaws.com/cms-assets.tutsplus.com/uploads/users/34/posts/21884/image/repo_informations.png"></figure>

<h2>Passo 12: Obtendo os Repositórios do Usuário</h2>

<p>Para agregar valor ao nosso app, mostraremos todos os repositórios do dono do repositório em questão, na lateral direita da tela. Isso requererá outro método em nosso serviço:</p>

<pre class="brush: javascript">getUserRepos: function getUser(name, callback) {
    $http.get('https://api.github.com/users/'+ name +'/repos')
		.success(function (data) {
			callback(null, data);
		})
		.error(function (e) {
			callback(e);
		});
}</pre>

<p>Esse método parece bastante com os outros (você pode ler mais sobre essa requisição da API <a href="https://developer.github.com/v3/repos/#list-user-repositories">aqui</a>).</p>


<h2>Passo 13: Mostrando os Repositórios</h2>

<p>Essa parte é, basicamente, uma cópia do HTML da área de busca, mas, mostraremos o nome do usuário ao invés do campo de busca, e a lista de repositórios estará no objeto <code>user</code> ao invés do próprio escopo:</p>

<pre class="brush: html">&lt;div id="user"&gt;
    &lt;strong&gt;{{ user.login }}&lt;/strong&gt;
	&lt;div class="repo" ng-repeat="repo in user.repos" ng-click="openRepo(repo.full_name)"&gt;
		&lt;strong&gt;{{ repo.name }}&lt;/strong&gt;
		&lt;p&gt;{{ repo.description }}&lt;/p&gt;
	&lt;/div&gt;
&lt;/div&gt;
</pre>


<p>A essa altura, você já tem uma aplicação AngularJS funcional, que retorna repositórios do GitHub de acordo com os termos da pesquisa. Você pode continuar a iterar esse aplicativo, adicionando novas funcionalidades ou adicionando um conjunto diferente de estilos para a apresentação.</p>

<p>Seja qual for o caso, todas suas perguntas, comentários e críticas são bem vindas!</p>
